.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .login-admin {
    width: 370px;
    padding: 20px 40px;
    text-align: center;
    button {
      width: 100%;
      margin-top: 30px;
      border-radius: 4px;
    }
    h2 {
      font-weight: 600;
    }
  }
}

.not-found {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .not-found-content {
    text-align: center;
    .error-img {
      display: block;
      margin: 50px auto;
      width: 200px;
      height: 128px;
      background-image: url('/img/not-found.png');
      background-repeat: no-repeat;
      background-position: 50% -276px;
    }
  }
}

@baseBorder: #DCDEE5;
.layout {
  width: 100vw;
  height: inherit;
}
// 侧边栏滚动
.ant-layout-sider {
  overflow: auto;
}
.common-content {
  background: #fff;
  border-left: 1px solid #DCDEE5;
  padding: 20px;
  height: inherit;
  // 超过的高度滚动
  overflow: scroll;
}
.ant-layout {
  //min-height: inherit;
}
.layout /deep/ .ant-layout-header {
  height: 58px;
  display: flex;
  padding: 0 40px;
}
.menu-side {
  text-align: left;
  a::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    content: '';
  }
  a {
    color: rgba(0, 0, 0, 0.85);
  }
  .ant-menu-item-selected a, a:hover {
    color: #1890ff;
  }
}
.select-menu-contain {
  display: flex;
  justify-content: center;
  height: 53px;
  align-items: center;
  border-bottom: 1px solid @baseBorder;
  padding: 0 10px;
}

.set-information {
  display: flex;
  button {
    margin-left: 10px;
  }
}

.biz-members-content-header {
  display: flex;
  margin-bottom: 10px;
  button {
    margin-right: 10px;
  }
}
